/* Kim Smock CSS Styles */
@import url(https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap);

/*-------------------- CSS REST ---------------------------
CSS Reset only works if I add it before I write my css.
I don't know how to delete my css and save it in order to retain it to add back to my style sheet after the CSS REST*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: grid;
    margin: 0 auto;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

    /* -------------------- ROOT VARIABLES ------------------- 
    Save all changes*/
      
:root {
        font-family: "montserrat", sans-serif;
        font-family: "molle", sans-serif;    
        --yellow: #F6D64A;
        --teal: #55BCD5;
        --purple: #9B26B0;
        --blue: #499BD2;
        --light-gray: #EAEAEA;
        --white: #FFFFFF;
        --black: #000000;
    }
    /* --------- GLOBAL STYLES (mobil first/small ---------- */
    
    /* --------- Small-min-width: 320px --------- */
    /*@media screen and (min-width: 320px) {
    body {
        display: grid;
        }
    }*/

body{
    font-size: 15px;
}
    header {
    display: grid;
    grid-template-areas: "logo heading"
    ". paragraph";
    gap: 0px 0px;
    background-color: #55BCD5;
    padding: 70px;
    width: 100%;
    }
        
#logo {
    grid-area: logo;
    position: absolute;
    }
h4{
    font-size:20px;
}
h3{
    font-size:25px;
}
h2{
    display: flex;
    float:left;
    font-size: 35px;
    text-align: center;
}
h1{
    grid-area: heading;
    font-size: 40px;
    position: absolute;
    left: 15%;
}
.active a{
    background-color: #F6D64A;
}
#intro p{
    padding: 10px;
    margin: 25px;
    float: left;
    font-size: 25px;
}
#img-grid{
    float: right;
}
header p{
    grid-area: paragraph;
    position: absolute;
    left: 15%;
    bottom: 78%;
}
nav{
    display: flex;
    top: 10px;
    padding: 25px;
}
ul{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    grid-area: nav-bar;
}
li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    line-height: 10px;
    background-color: #EAEAEA;
    color: #000000;
    padding: 15px;
}
#intro{
    width: 80%;
    margin: auto;
    display: flex;
}
#plan{
    margin: auto;
    background-color: #F6D64A;
    height: 250px;
}
#plan section{
    background: #55BCD5;
    border: white solid;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
#plan h3 {
    margin-left: 8%;
}
#plan div {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 0;
    align-content: center;
    align-items: center;
}
#testimonials div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15rem;
}
#about div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sr-only , #skip , #toggle, #menu-toggle label {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
#about{
    background-color: #499BD2;
}
input[type=text] , #nums, input[type=radio], option:nth-child(1){
    border: 2px solid #9B26B0;
    border-radius: 4px;
}

.required, .radio-control{
    color: #9B26B0;
}
#names{
    display: grid;
    grid-template-columns: 1fr;
}
#nums{
    display: grid;
    grid-template-columns: 1fr;
}
#selects form{
    display: flex;
    grid-template-columns: 1fr;
}
#contact form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
input[type="submit"]{
    background-color: #9B26B0;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-top: 50px;
}

h1, h2, h3{
    font-family: "Molle", sans-serif;
}

h4, p, q, small, nav, button, form {
    font-family: "Montserrat", sans-serif;
}
footer{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    background-color: #EAEAEA;
    padding: 25px;
    align-content: center;
    align-items: center;
}
footer a {
    text-decoration: none;
    color:#000000;
}
li a:hover {
    background-color: #F6D64A;
}
    